/*!
	Theme Name: Famcore
	Theme URI: https://famcore.com

	Description: The Genesis-powered Famcore Starter Child Theme
	Author: Travis Rodgers
	Author URI: https://travis.media

	Version: 1.0.1

	Tags: black, red, white, one-column, two-columns, three-columns, left-sidebar, right-sidebar, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis
	Template Version: 2.6.1

	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php
	Text Domain: famcore-child
*/html{box-sizing:border-box;font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}progress{vertical-align:baseline}[hidden],template{display:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:inherit;font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}button,input,optgroup,select,textarea{font:inherit;margin:0}optgroup{font-weight:700}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:.54}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}html,input[type=search]{box-sizing:border-box}*,:after,:before{box-sizing:inherit}.author-box:before,.clearfix:before,.entry-content:before,.entry:before,.footer-widgets:before,.nav-primary:before,.nav-secondary:before,.pagination:before,.site-container:before,.site-footer:before,.site-header:before,.site-inner:before,.widget:before,.wrap:before{content:" ";display:table}.author-box:after,.clearfix:after,.entry-content:after,.entry:after,.footer-widgets:after,.nav-primary:after,.nav-secondary:after,.pagination:after,.site-container:after,.site-footer:after,.site-header:after,.site-inner:after,.widget:after,.wrap:after{clear:both;content:" ";display:table}html{font-size:62.5%}body{background-color:#eee;color:#333;font-family:Roboto,sans-serif;font-size:1.8rem;-webkit-font-smoothing:antialiased;font-weight:400;line-height:1.625;margin:0}@media screen and (max-width:767px){body{font-size:16px}}body>div{font-size:1.8rem}@media screen and (max-width:767px){body>div{font-size:1.6rem}}.button,.gallery img,a,button,input:focus,input[type=button],input[type=reset],input[type=submit],textarea:focus{transition:all .1s ease-in-out}a{color:#c37535}a:focus,a:hover{color:#333;text-decoration:none}p{margin:0 0 28px;padding:0}hr{border:0;border-collapse:collapse;border-top:1px solid #eee;clear:both;margin:1em 0}b,strong{font-weight:700}blockquote,cite,em,i{font-style:italic}ol,ul{margin:0;padding:0}li{list-style-type:none}blockquote{margin:40px}blockquote:before{content:"\201C";display:block;font-size:3rem;height:0;left:-20px;position:relative;top:-10px}h1,h2,h3,h4,h5,h6{font-family:Roboto,sans-serif;font-family:Bowlby One SC,cursive;font-family:Exo,sans-serif;font-family:Open Sans,sans-serif;font-weight:400;font-weight:700;line-height:1.2;margin:0 0 10px;letter-spacing:-1px}h1{font-size:3.6rem}h2{font-size:3rem}h3{font-size:2.4rem}h4{font-size:2rem}h5{font-size:1.8rem}h6{font-size:1.6rem}.section-title{font-size:3rem}.wp-caption,embed,iframe,img,object,video{max-width:100%}img{height:auto}figure{margin:0}input,select,textarea{background-color:#fff;border:1px solid #ddd;color:#333;font-size:1.8rem;font-weight:400;padding:16px;width:100%}input:focus,textarea:focus{border:1px solid #ddd;outline:none}input[type=checkbox],input[type=image],input[type=radio]{width:auto}::-moz-placeholder{color:#333;opacity:1}::-webkit-input-placeholder{color:#333}.button,button,input[type=button],input[type=reset],input[type=submit]{background-color:#333;border:0;color:#fff;cursor:pointer;font-size:1.6rem;font-weight:700;padding:16px 24px;text-decoration:none;white-space:normal;width:auto}.button:focus,.button:hover,button:focus,button:hover,input:focus[type=button],input:focus[type=reset],input:focus[type=submit],input:hover[type=button],input:hover[type=reset],input:hover[type=submit]{background-color:#c37535;color:#fff}.entry-content .button:focus,.entry-content .button:hover{color:#fff}.button{display:inline-block}a.button.small,button.small,input[type=button].small,input[type=reset].small,input[type=submit].small{padding:8px 16px}.site-container button:disabled,.site-container button:disabled:hover,.site-container input:disabled,.site-container input:disabled:hover,.site-container input[type=button]:disabled,.site-container input[type=button]:disabled:hover,.site-container input[type=reset]:disabled,.site-container input[type=reset]:disabled:hover,.site-container input[type=submit]:disabled,.site-container input[type=submit]:disabled:hover{background-color:#eee;border-width:0;color:#777;cursor:not-allowed}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-results-button{display:none}.gallery{overflow:hidden}.gallery-item{float:left;margin:0 0 28px;text-align:center}.gallery-columns-1 .gallery-item{width:100%}.gallery-columns-2 .gallery-item{width:50%}.gallery-columns-3 .gallery-item{width:33%}.gallery-columns-4 .gallery-item{width:25%}.gallery-columns-5 .gallery-item{width:20%}.gallery-columns-6 .gallery-item{width:16.6666%}.gallery-columns-7 .gallery-item{width:14.2857%}.gallery-columns-8 .gallery-item{width:12.5%}.gallery-columns-9 .gallery-item{width:11.1111%}.gallery-columns-2 .gallery-item:nth-child(odd),.gallery-columns-3 .gallery-item:nth-child(3n+1),.gallery-columns-4 .gallery-item:nth-child(4n+1),.gallery-columns-5 .gallery-item:nth-child(5n+1),.gallery-columns-6 .gallery-item:nth-child(6n+1),.gallery-columns-7 .gallery-item:nth-child(7n+1),.gallery-columns-8 .gallery-item:nth-child(8n+1),.gallery-columns-9 .gallery-item:nth-child(9n+1){clear:left}.gallery img{border:1px solid #eee;height:auto;padding:4px}.gallery img:focus,.gallery img:hover{border:1px solid #999}table{border-collapse:collapse;border-spacing:0;line-height:2;margin-bottom:40px;width:100%;word-break:break-word}tbody{border-bottom:1px solid #eee}td,th{text-align:left}td{border-top:1px solid #eee;padding:6px}th{font-weight:400;padding:0 6px}td:first-child,th:first-child{padding-left:0}.screen-reader-shortcut,.screen-reader-text,.screen-reader-text span{position:absolute!important;clip:rect(0,0,0,0);height:1px;width:1px;border:0;overflow:hidden}.genesis-nav-menu .search input[type=submit]:focus,.screen-reader-shortcut:focus,.screen-reader-text:focus,.widget_search input[type=submit]:focus{clip:auto!important;height:auto;width:auto;display:block;font-size:1em;font-weight:700;padding:15px 23px 14px;color:#333;background:#fff;z-index:100000;text-decoration:none;box-shadow:0 0 2px 2px rgba(0,0,0,.6)}.more-link{position:relative}a.aligncenter img{display:block;margin:0 auto}a.alignnone{display:inline-block}.alignleft{float:left;text-align:left}.alignright{float:right;text-align:right}a.alignleft,a.alignnone,a.alignright{max-width:100%}.aligncenter,img.centered{display:block;margin:0 auto 24px;text-align:center}.alignnone,img.alignnone{margin-bottom:12px}a.alignleft,img.alignleft{margin:0 24px 24px 0}.wp-caption.alignright,a.alignright,img.alignright{margin:0 0 24px 24px}.wp-caption.alignleft{margin:0 24px 24px 0}.wp-caption-text{font-size:14px;font-size:1.4rem;font-weight:600;margin:0;text-align:center}.entry-content p.wp-caption-text{margin-bottom:0}.entry-content .wp-audio-shortcode,.entry-content .wp-playlist,.entry-content .wp-video{margin:0 0 28px}.site-inner,.wrap{margin:0 auto;max-width:1280px}@media screen and (max-width:1340px){.site-inner,.wrap{max-width:1140px}}@media screen and (max-width:1200px){.site-inner,.wrap{max-width:960px}}@media screen and (max-width:1023px){.site-inner,.wrap{max-width:800px}}.site-inner{clear:both;padding-top:40px;word-wrap:break-word}@media screen and (max-width:767px){.site-inner{padding:5% 5% 0}}@media screen and (max-width:767px){.wrap{padding-left:5%;padding-right:5%}}.landing-page .site-inner{max-width:800px}.home .site-inner{padding-top:0}.home .fc-section{padding:4.375rem 0;max-width:100%}.home .fc-section .container{margin:0 auto;max-width:1280px;padding-left:15px;padding-right:15px;position:relative}.home .hero-wrap{color:#ececec;position:relative;z-index:999;position:absolute;bottom:30%;left:30%;right:5%;text-align:right}.home .hero-wrap .hero-title h2{font-size:4rem;font-family:Roboto,sans-serif;font-weight:800;font-family:Exo,sans-serif}.home .hero-wrap .hero-paragraph{font-size:2rem;line-height:1.5}.home .hero-wrap .hero-points h3 span{color:#c37535;font-style:italic;text-transform:uppercase;padding-right:3px;font-family:Exo,sans-serif;font-weight:600;font-size:2.2rem}.home #cta-section{background-color:#222;color:#fff;width:100vw;position:relative;left:50%;right:50%;margin-left:-50vw;margin-right:-50vw;max-width:none;padding:4.375rem 0 2.18rem}.home #cta-section .cta-header h4{font-size:2.7rem;font-family:Exo,sans-serif;margin-bottom:4px}.home #audio-video-section .audio-section .anchor-embeds{float:right}.home #audio-video-section .audio-section .anchor-embeds iframe{display:block;margin:0 auto 24px}.home #audio-video-section .audio-section h3{margin-bottom:50px}@media only screen and (max-width:767px){.home #audio-video-section .switch-section{text-align:center}}.home #courses-section{padding:0}.home #courses-section .container{margin:0;padding:0}.home #courses-section .half-circle{display:table;width:100%;height:700px;border-top-right-radius:400px;border-bottom-right-radius:400px;background:#000;background:linear-gradient(180deg,#000 0,#3d3d3d 37%,#6d6d6d);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#6d6d6d",GradientType=0)}@media only screen and (max-width:767px){.home #courses-section .half-circle{display:none}}.home #courses-section .half-circle h3{display:table-cell;vertical-align:middle;color:#fff;text-align:center}.home #courses-section .courses-testimonial-section{padding:2rem 0 0}.home #courses-section .courses-testimonial-section .courses{text-align:center;padding:4.375rem 0}.home #courses-section .courses-testimonial-section .courses h4{width:300px;margin:0 auto}.home #courses-section .courses-testimonial-section .testimonial{width:100%;padding-top:20px;position:relative}.home #courses-section .courses-testimonial-section .testimonial .testimonial-image{display:inline-block;float:left;text-align:center;position:absolute;left:-122px}@media only screen and (max-width:767px){.home #courses-section .courses-testimonial-section .testimonial .testimonial-image{position:relative;width:30%;left:0;transform:scale(.7);margin-top:-50px}}.home #courses-section .courses-testimonial-section .testimonial .testimonial-image img{border-radius:50%;position:relative;z-index:2}.home #courses-section .courses-testimonial-section .testimonial .testimonial-text{display:inline-block;float:left;left:23px;position:absolute}@media only screen and (max-width:767px){.home #courses-section .courses-testimonial-section .testimonial .testimonial-text{position:relative;width:70%}}.home #courses-section .courses-testimonial-section .testimonial .testimonial-text .testimonial-header h4{font-size:25px;font-style:italic;margin-left:54px}@media only screen and (max-width:767px){.home #courses-section .courses-testimonial-section .testimonial .testimonial-text .testimonial-header h4{margin-left:-30px}}.home #courses-section .courses-testimonial-section .testimonial .testimonial-body{z-index:1;background-color:#fff;padding:0 10px 0 70px;max-width:100%;font-size:17px;line-height:1.4}@media only screen and (max-width:767px){.home #courses-section .courses-testimonial-section .testimonial .testimonial-body{display:none}}@media only screen and (max-width:1023px){.content,.content-sidebar-sidebar .content,.content-sidebar-sidebar .content-sidebar-wrap,.sidebar-content-sidebar .content,.sidebar-content-sidebar .content-sidebar-wrap,.sidebar-primary,.sidebar-secondary,.sidebar-sidebar-content .content,.sidebar-sidebar-content .content-sidebar-wrap{width:100%}}.content-sidebar-sidebar .content-sidebar-wrap,.sidebar-content-sidebar .content-sidebar-wrap,.sidebar-sidebar-content .content-sidebar-wrap{width:1060px}@media screen and (max-width:1340px){.content-sidebar-sidebar .content-sidebar-wrap,.sidebar-content-sidebar .content-sidebar-wrap,.sidebar-sidebar-content .content-sidebar-wrap{width:920px}}@media screen and (max-width:1200px){.content-sidebar-sidebar .content-sidebar-wrap,.sidebar-content-sidebar .content-sidebar-wrap,.sidebar-sidebar-content .content-sidebar-wrap{width:740px}}.content-sidebar-sidebar .content-sidebar-wrap{float:left}.content,.sidebar-content-sidebar .content-sidebar-wrap,.sidebar-sidebar-content .content-sidebar-wrap{float:right}.content{width:880px}@media screen and (max-width:1340px){.content{width:800px}}@media screen and (max-width:1200px){.content{width:620px}}.content-sidebar-sidebar .content,.sidebar-content-sidebar .content,.sidebar-sidebar-content .content{width:660px}@media screen and (max-width:1340px){.content-sidebar-sidebar .content,.sidebar-content-sidebar .content,.sidebar-sidebar-content .content{width:580px}}@media screen and (max-width:1200px){.content-sidebar-sidebar .content,.sidebar-content-sidebar .content,.sidebar-sidebar-content .content{width:400px}}.content-sidebar-sidebar .content,.content-sidebar .content,.sidebar-content-sidebar .content{float:left}.full-width-content .content{width:100%}.sidebar-primary{float:right;width:360px}@media screen and (max-width:1340px){.sidebar-primary{width:300px}}.sidebar-content .sidebar-primary,.sidebar-sidebar-content .sidebar-primary{float:left}.sidebar-secondary{float:left;width:180px}.content-sidebar-sidebar .sidebar-secondary{float:right}.five-sixths,.four-sixths,.one-fourth,.one-half,.one-sixth,.one-third,.three-fourths,.three-sixths,.two-fourths,.two-sixths,.two-thirds{float:left;margin-left:2.564102564102564%}.one-half,.three-sixths,.two-fourths{width:48.717948717948715%}.one-third,.two-sixths{width:31.623931623931625%}.four-sixths,.two-thirds{width:65.81196581196582%}.one-fourth{width:23.076923076923077%}.three-fourths{width:74.35897435897436%}.one-sixth{width:14.52991452991453%}.five-sixths{width:82.90598290598291%}.first{clear:both;margin-left:0}@media screen and (max-width:767px){.five-sixths,.four-sixths,.one-fourth,.one-half,.one-sixth,.one-third,.three-fourths,.three-sixths,.two-fourths,.two-sixths,.two-thirds{margin:0;width:100%}}.avatar{border-radius:50%;float:left}.alignleft .avatar{margin-right:24px}.alignright .avatar{margin-left:24px}.genesis-skip-link{margin:0}.genesis-skip-link li{height:0;width:0;list-style:none}:focus{color:#333;outline:1px solid #ccc}.cont{position:relative;overflow:hidden;height:500px;padding:80px 70px}.cont__inner{position:relative;height:100%}.cont__inner:hover .el__bg:after{opacity:1}.el{position:absolute;left:0;top:0;width:32.66667%;height:100%;background:#252525;transition:transform .6s .7s,width .7s,opacity .6s .7s,z-index 0s 1.3s;will-change:transform,width,opacity}.el:not(.s--active){cursor:pointer}.el__inner,.el__overflow{overflow:hidden;position:relative;height:100%}.el__inner{transition:transform 1s}.cont.s--inactive .el__inner{transform:translate3d(0,100%,0)}.el__bg{position:relative;width:calc(100vw - 140px);height:100%;transition:transform .6s .7s;will-change:transform}.el__bg:before{content:"";position:absolute;left:0;top:-5%;width:100%;height:110%;background-size:cover;background-position:50%;transition:transform 1s;transform:translateZ(0) scale(1)}.cont.s--inactive .el__bg:before{transform:translate3d(0,-100%,0) scale(1.2)}.el.s--active .el__bg:before{transition:transform .8s}.el__bg:after{content:"";z-index:1;position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,.3);opacity:0;transition:opacity .5s}.cont.s--el-active .el__bg:after{transition:opacity .5s 1.4s;opacity:1!important}.el__preview-cont{z-index:2;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center;position:absolute;left:0;top:0;width:100%;height:100%;transition:all .3s 1s}.cont.s--inactive .el__preview-cont{opacity:0;transform:translateY(10px)}.cont.s--el-active .el__preview-cont{opacity:0;transform:translateY(30px);transition:all .5s}.el__heading{color:#fff;text-transform:uppercase}.el__content{z-index:-1;position:absolute;left:0;top:0;width:100%;height:100%;padding:30px;opacity:0;pointer-events:none;transition:all .1s}.el.s--active .el__content{z-index:2;opacity:1;pointer-events:auto;transition:all .5s 1.4s}.el__text{text-transform:uppercase;font-size:40px;color:#fff}.el__close-btn{z-index:-1;position:absolute;right:10px;top:10px;width:60px;height:60px;opacity:0;pointer-events:none;transition:all 0s .45s;cursor:pointer}.el.s--active .el__close-btn{z-index:5;opacity:1;pointer-events:auto;transition:all 0s 1.4s}.el__close-btn:after,.el__close-btn:before{content:"";position:absolute;left:0;top:50%;width:100%;height:8px;margin-top:-4px;background:#fff;opacity:0;transition:opacity 0s}.el.s--active .el__close-btn:after,.el.s--active .el__close-btn:before{opacity:1}.el__close-btn:before{transform:rotate(45deg) translateX(100%)}.el.s--active .el__close-btn:before{transition:all .3s cubic-bezier(.72,.09,.32,1.57) 1.4s;transform:rotate(45deg) translateX(0)}.el__close-btn:after{transform:rotate(-45deg) translateX(100%)}.el.s--active .el__close-btn:after{transition:all .3s cubic-bezier(.72,.09,.32,1.57) 1.55s;transform:rotate(-45deg) translateX(0)}.el__index{overflow:hidden;position:absolute;left:0;bottom:-80px;width:100%;height:100%;min-height:250px;text-align:center;font-size:33.33333vw;line-height:.85;font-weight:700;transition:transform .5s,opacity .3s 1.4s;transform:translate3d(0,1vw,0)}.el:hover .el__index{transform:translateZ(0)}.cont.s--el-active .el__index{transition:transform .5s,opacity .3s;opacity:0}.el__index-back,.el__index-front{position:absolute;left:0;bottom:0;width:100%}.el__index-back{color:#2f3840;opacity:0;transition:opacity .25s .25s}.el:hover .el__index-back{transition:opacity .25s;opacity:1}.el__index-overlay{overflow:hidden;position:relative;transform:translate3d(0,100%,0);transition:transform .5s .1s;color:transparent}.el__index-overlay:before{content:attr(data-index);position:absolute;left:0;bottom:0;width:100%;height:100%;color:#fff;transform:translate3d(0,-100%,0);transition:transform .5s .1s}.el:first-child,.el:hover .el__index-overlay,.el:hover .el__index-overlay:before{transform:translateZ(0)}.el:first-child{transform-origin:50% 50%}.cont.s--el-active .el:first-child:not(.s--active){transform:scale(.5) translateZ(0);opacity:0;transition:transform .95s,opacity .95s}.el:first-child .el__inner{transition-delay:0s}.el:first-child .el__bg{transform:translateZ(0)}.el:first-child .el__bg:before{transition-delay:0s;background-image:url(http://famcore.travis.media/wp-content/uploads/2018/05/mind-body-spirit-1.jpg)}.el:nth-child(2){transform:translate3d(103.06122%,0,0);transform-origin:153.06122% 50%}.cont.s--el-active .el:nth-child(2):not(.s--active){transform:scale(.5) translate3d(103.06122%,0,0);opacity:0;transition:transform .95s,opacity .95s}.el:nth-child(2) .el__inner{transition-delay:.1s}.el:nth-child(2) .el__bg{transform:translate3d(-32.66667%,0,0)}.el:nth-child(2) .el__bg:before{transition-delay:.1s;background-image:url(http://famcore.travis.media/wp-content/uploads/2018/05/mind-body-spirit-2.jpg)}.el:nth-child(3){transform:translate3d(206.12245%,0,0);transform-origin:256.12245% 50%}.cont.s--el-active .el:nth-child(3):not(.s--active){transform:scale(.5) translate3d(206.12245%,0,0);opacity:0;transition:transform .95s,opacity .95s}.el:nth-child(3) .el__inner{transition-delay:.2s}.el:nth-child(3) .el__bg{transform:translate3d(-65.33333%,0,0)}.el:nth-child(3) .el__bg:before{transition-delay:.2s;background-image:url(http://famcore.travis.media/wp-content/uploads/2018/05/mind-body-spirit-3.jpg)}.el:hover .el__bg:after{opacity:0}.el.s--active{z-index:1;width:100%;transform:translateZ(0);transition:transform .6s,width .7s .7s,z-index 0s}.el.s--active .el__bg{transform:translateZ(0);transition:transform .6s}.el.s--active .el__bg:before{transition-delay:.6s;transform:scale(1.1)}.icon-link{position:absolute;left:5px;bottom:5px;width:32px}.icon-link img{width:100%;vertical-align:top}.icon-link--twitter{left:auto;right:5px}.switch{display:inline-block;position:relative;border-radius:3.5em;box-shadow:0 0 .5em hsla(0,0%,100%,.2);transform:scale(.4)}.switch label{width:100%;height:100%;margin:0;padding:0;display:block;position:absolute;top:0;left:0;z-index:10}.switch input{display:none}.switch span{display:block;transition:top .2s}.switch-border1{border:.1em solid #000;border-radius:3.5em;box-shadow:0 .2em hsla(0,0%,100%,.2)}.switch-border2{width:6.6em;height:12.6em;position:relative;border:.1em solid #323232;background-image:linear-gradient(90deg,#2d2d2d,#4b4b4b,#2d2d2d);border-radius:3.4em}.switch-border2:after,.switch-border2:before{content:"";display:block;width:100%;height:100%;position:absolute;top:0;left:0;z-index:0;opacity:.3;border-radius:3.4em}.switch-border2:before{background:linear-gradient(#000,transparent)}.switch-border2:after{background:linear-gradient(transparent,#000)}.switch-top{height:84%;top:8%;z-index:1;background-image:linear-gradient(90deg,#2d2d2d,#4b4b4b,#2d2d2d)}.switch-shadow,.switch-top{width:100%;position:absolute;left:0;border-radius:3.4em}.switch-shadow{height:100%;top:0;z-index:2;box-shadow:inset 0 0 2em #000}.switch-handle-left,.switch-handle-right{content:"";display:block;width:3.6em;height:0;position:absolute;top:6.6em;z-index:2;border-bottom:4.5em solid #111;border-left:.7em solid transparent;border-right:.7em solid transparent;border-radius:0}.switch-handle-left{left:.8em}.switch-handle-right{right:.8em}.switch-handle{width:3.6em;height:4.5em;position:absolute;top:6.6em;left:1.5em;z-index:3;background:#333;background-image:linear-gradient(90deg,#111,#777 40%,#888,#777 60%,#111);border-radius:0}.switch-handle-top{width:5em;height:5em;position:absolute;top:8.5em;left:.8em;z-index:4;background-color:#555;background-image:linear-gradient(90deg,#5f5f5f,#878787);border-top:.2em solid #aeb2b3;border-radius:2.5em}.switch-handle-bottom{width:3.6em;height:3.6em;position:absolute;top:4.7em;left:1.5em;z-index:3;background:#333;background-image:linear-gradient(90deg,#111,#777 40%,#888,#777 60%,#111);border-top:.2em solid #141414;border-radius:1.8em}.switch-handle-base{width:4.2em;height:4.2em;position:absolute;top:3.8em;left:1.2em;z-index:2;border-top:.2em solid hsla(0,0%,100%,.35);border-radius:2.1em;box-shadow:inset 0 0 .5em rgba(0,0,0,.8)}.switch-led{position:absolute;left:2em;border-radius:1.4em}.switch-led-border{border:.2em solid #000;border-radius:1.3em}.switch-led-light{border-radius:1.1em;box-shadow:inset 0 0 .5em hsla(0,0%,100%,.5)}.switch-led-glow{width:2em;height:2em;position:relative;border-radius:1em}.switch-led-glow:before{content:"";display:block;width:.6em;height:.6em;position:absolute;top:.3em;left:.7em;background:hsla(0,0%,100%,.2);border-radius:.3em;box-shadow:0 0 1em hsla(0,0%,100%,.75)}.switch-led-glow:after{content:"";display:block;width:0;height:0;position:absolute;top:0;left:0;opacity:.2;filter:alpha(opacity=20);border:1em solid #fff;border-color:transparent #fff;border-radius:1em;transform:rotate(45deg)}.switch-led:after{display:block;width:100%;position:absolute;left:0;color:#333;font-family:lato,sans-serif;font-weight:700;text-align:center}.switch-led-green:after{content:"AUDIO";top:-1.7em;width:107px;font-size:32px;left:-32px}.switch-led-red:after{content:"VIDEO";bottom:-1.7em;width:107px;font-size:32px;left:-32px}.switch-led-green{top:-5em;border-top:.1em solid rgba(0,161,75,.5);border-bottom:.1em solid hsla(0,0%,100%,.25)}.switch-led-green .switch-led-light{background:#00a14b;border:.1em solid #006838}.switch-led-red{bottom:-5em;border-top:.1em solid rgba(237,28,36,.2);border-bottom:.1em solid hsla(0,0%,100%,.25);box-shadow:0 0 3em #ed1c24}.switch-led-red .switch-led-light{background:#ed1c24;border:.1em solid #a11e2d}.switch-led-red .switch-led-glow{background:#fff;background:hsla(0,0%,100%,.3);filter:alpha(opacity=30)}.switch input:checked~.switch-handle-left,.switch input:checked~.switch-handle-right{top:1.5em;border-bottom:0;border-top:4.5em solid #111}.switch input:checked~.switch-handle{top:1.5em}.switch input:checked~.switch-handle-top{top:-1em;border-top:0;border-bottom:.2em solid #aeb2b3}.switch input:checked~.switch-handle-bottom{top:4.2em;border-top:0;border-bottom:.2em solid #141414}.switch input:checked~.switch-handle-base{top:4.5em;border-top:0;border-bottom:.2em solid hsla(0,0%,100%,.35)}.switch input:checked~.switch-led-green{box-shadow:0 0 3em #00a14b}.switch input:checked~.switch-led-green .switch-led-glow{background:#fff;background:hsla(0,0%,100%,.4);filter:alpha(opacity=40)}.switch input:checked~.switch-led-red{box-shadow:none}.switch input:checked~.switch-led-red .switch-led-glow{background:hsla(0,0%,100%,0);filter:alpha(opacity=0)}.site-header{background-color:#fff;position:relative;z-index:2}.site-header>.wrap{padding:20px 0}@media only screen and (max-width:1023px){.site-header .wrap{padding-left:5%;padding-right:5%}}.title-area{float:left;padding:10px 0;width:300px}@media only screen and (max-width:1023px){.title-area{width:100%;text-align:center;margin:0 auto}}.header-full-width .title-area{float:none;width:100%}@media only screen and (max-width:1023px){.site-description,.site-header .title-area,.site-header .widget-area,.site-title{text-align:center}}.site-title{font-size:3rem;font-weight:700;line-height:1.2}.site-title a,.site-title a:focus,.site-title a:hover{color:#333;text-decoration:none}.site-description{font-size:1.8rem;font-weight:400;line-height:1.5}.site-description,.site-title{margin-bottom:0}.header-image .title-area{max-width:300px;padding:0}@media only screen and (max-width:1023px){.header-image .title-area{float:none}}.header-image .site-title>a{background-position:50%!important;background-size:314px 87px!important;float:left;min-height:80px;width:100%}.header-image .site-description,.header-image .site-title{display:block;text-indent:-9999px}.site-header .widget-area{float:right;text-align:right;width:800px}@media only screen and (max-width:1200px){.site-header .widget-area{width:620px}}@media only screen and (max-width:1023px){.site-header .widget-area{width:100%}}.genesis-nav-menu{clear:both;font-size:1.8rem;font-weight:400;line-height:1;width:100%}@media only screen and (max-width:1023px){.genesis-nav-menu{text-align:center}.genesis-nav-menu .genesis-nav-menu li,.site-header ul .genesis-nav-menu{float:none}}.genesis-nav-menu .menu-item{display:inline-block;margin-bottom:0;padding-bottom:0;text-align:left}.genesis-nav-menu a{color:#333;text-decoration:none;display:block;padding:32px 20px}.genesis-nav-menu .current-menu-item>a,.genesis-nav-menu .sub-menu .current-menu-item>a:focus,.genesis-nav-menu .sub-menu .current-menu-item>a:hover,.genesis-nav-menu a:focus,.genesis-nav-menu a:hover{color:#c37535;text-decoration:underline}.genesis-nav-menu .sub-menu{border-top:1px solid #eee;left:-9999px;opacity:0;position:absolute;transition:opacity .4s ease-in-out;width:200px;z-index:99}.genesis-nav-menu .sub-menu a{background-color:#fff;border:1px solid #eee;border-top:0;font-size:1.6rem;padding:20px;position:relative;width:200px;word-wrap:break-word}.genesis-nav-menu .sub-menu .sub-menu{margin:-56px 0 0 199px}.genesis-nav-menu .menu-item:hover{position:static}.genesis-nav-menu .menu-item:hover>.sub-menu{left:auto;opacity:1}.genesis-nav-menu>.first>a{padding-left:0}.genesis-nav-menu>.last>a{padding-right:0}.genesis-nav-menu>.right{float:right}@media only screen and (max-width:1023px){.nav-header{display:none}}.menu .menu-item:focus{position:static}.menu .menu-item.sfHover>ul.sub-menu,.menu .menu-item>a:focus+ul.sub-menu{left:auto;opacity:1}.menu-toggle,.sub-menu-toggle{display:none;visibility:hidden}@media only screen and (max-width:1023px){.menu-toggle,.sub-menu-toggle{border-width:0;background-color:#fff;color:#333;display:block;margin:0 auto;overflow:hidden;text-align:center;visibility:visible}}@media only screen and (max-width:1023px){.sub-menu-toggle{float:right;padding:10px;position:absolute;right:0;top:0;z-index:100}.sub-menu-toggle:focus,.sub-menu-toggle:hover{border-width:0}.sub-menu-toggle:before{display:inline-block;text-rendering:auto;transform:translate(0)}.sub-menu-toggle.activated:before{content:"\f142"}.menu-toggle{border-top:1px solid #eee;line-height:20px;position:relative;right:0;z-index:1000;width:100%}.site-header .menu-toggle{border:0}.menu-toggle.activated:before,.menu-toggle:before{margin-right:10px;text-rendering:auto;transform:translate(0)}}.breadcrumb{background-color:#fff;font-size:1.6rem;margin-bottom:1px;padding:12px 30px}.site-header .genesis-nav-menu li li{margin-left:0}.nav-primary,.nav-secondary{background-color:#fff;border-top:1px solid #eee}.pagination{clear:both;margin:40px 0}@media only screen and (max-width:767px){.pagination{margin:5% auto}}.adjacent-entry-pagination{margin-bottom:0}.archive-pagination li{display:inline}@media only screen and (max-width:767px){.archive-pagination li a{margin-bottom:4px}}.archive-pagination a{background-color:#fff;color:#333;cursor:pointer;display:inline-block;font-size:1.6rem;font-weight:600;padding:8px 12px;text-decoration:none}.active .archive-pagination a,.archive-pagination a:focus,.archive-pagination a:hover{background-color:#c37535;color:#fff}.site-footer .genesis-nav-menu{padding-bottom:20px}.site-footer .genesis-nav-menu a{padding:0 20px 10px}@media only screen and (max-width:1023px){.js .genesis-nav-menu .sub-menu,.js .genesis-nav-menu .sub-menu a{width:100%}.js .genesis-nav-menu .menu-item:hover{position:relative}.js .genesis-nav-menu .menu-item>a:focus ul.sub-menu,.js .genesis-nav-menu .menu-item>a:focus ul.sub-menu .sub-menu{left:0;margin-left:0}.js .genesis-nav-menu>.menu-item-has-children>a:after{content:none}.js .genesis-nav-menu .sub-menu{border:none;clear:both;display:none;margin:0;opacity:1;padding-left:15px;position:static;width:100%}.js .genesis-nav-menu .sub-menu .sub-menu{margin:0}.js .nav-primary .genesis-nav-menu .menu-item,.js .site-header .genesis-nav-menu .menu-item{display:block;float:none;margin:1px 0;position:relative;text-align:left}.js .nav-primary .genesis-nav-menu .menu-item a,.js .site-header .genesis-nav-menu .menu-item a{border:none;padding:12px 0;width:100%}.js .menu-toggle:focus,.js .menu-toggle:hover,.js .nav-primary,.js nav button:focus,.js nav button:hover{background-color:#fff}.js .menu-toggle:hover,.js .nav-primary,.js nav button:hover{color:#000}.js .menu-toggle:focus,.js nav button:focus{color:#c37535}}.entry{background-color:#fff;margin-bottom:40px;padding:70px 80px}@media only screen and (max-width:767px){.entry{padding:30px;margin-bottom:5%}}p.entry-meta{font-size:1.6rem;margin-bottom:0}.entry-title{font-size:3.6rem}.entry-title a{color:#333;text-decoration:none}.entry-title a:focus,.entry-title a:hover{color:#c37535}.entry-header .entry-meta{margin-bottom:24px}.entry-comments-link:before{content:"\2014";margin:0 6px 0 2px}.entry-content ol,.entry-content ul{margin-bottom:28px;margin-left:40px}.entry-content ol>li{list-style-type:decimal}.entry-content ul>li{list-style-type:disc}.entry-content ol ol,.entry-content ul ul{margin-bottom:0}.entry-content code{background-color:#eee;color:#333}.entry-footer .entry-meta{border-top:1px solid #eee;padding-top:24px;margin-bottom:0}.entry-categories,.entry-tags{display:block}.after-entry{background-color:#fff;font-size:1.8rem;margin-bottom:40px;padding:60px}@media screen and (max-width:767px){.after-entry{padding:30px;margin-bottom:5%}}.author-box .avatar{margin-right:24px}.comment-respond,.entry-comments,.entry-pings{background-color:#fff;font-size:1.6rem;margin-bottom:40px}@media only screen and (max-width:767px){.comment-respond,.entry-comments,.entry-pings{padding:30px;margin-bottom:5%}}.comment-respond,.entry-pings{padding:60px 60px 32px}.entry-comments{padding:60px}.entry-pings .reply{display:none}.comment-list li{padding:40px 0 0 30px}.comment-list .depth-1{padding-left:0}.comment-header{margin-bottom:30px}.comment-header p{margin-bottom:0}.comment .avatar{margin:0 16px 24px 0}.comment-content{clear:both}.comment-content ul>li{list-style-type:disc}.comment-respond label{display:block;margin-right:12px}.comment-respond input[type=email],.comment-respond input[type=text],.comment-respond input[type=url]{width:50%}.sidebar{font-size:16px;font-size:1.6rem;margin-bottom:40px}.sidebar .widget{background-color:#fff;padding:40px}.widget{margin-bottom:40px;word-wrap:break-word}.widget ul>li{margin-bottom:10px;padding-bottom:10px}.widget ul>li:last-of-type{padding-bottom:0}.widget ol>li{list-style-position:inside;list-style-type:decimal;padding-left:20px;text-indent:-20px}.widget li li{border:0;margin:0 0 0 30px;padding:0}.widget-area .widget:last-of-type,.widget p:last-child,.widget ul>li:last-of-type{margin-bottom:0}@media only screen and (max-width:767px){.sidebar .widget{padding:30px;margin-bottom:5%}}.sidebar .widget-title a{color:#333;text-decoration:none}.widget-title{font-size:1.8rem;margin-bottom:20px}.widget_calendar table{width:100%}.widget_calendar td,.widget_calendar th{text-align:center}.featured-content .entry{background:none;padding:0}.featured-content .entry:last-of-type{margin-bottom:0}.featured-content .entry-title{font-size:2rem}.search-form{overflow:hidden}.entry-content .search-form,.site-header .search-form{margin-bottom:40px;width:50%}.site-header .search-form{float:right;margin:12px auto 0}@media only screen and (max-width:1023px){.site-header .search-form{float:none;margin:16px auto}}.post-password-form input[type=submit],.search-form input[type=submit]{margin-top:10px}.genesis-nav-menu .search input[type=submit],.widget_search input[type=submit]{border:0;clip:rect(0,0,0,0);height:1px;margin:-1px;padding:0;position:absolute;width:1px}.footer-widgets{background-color:#fff;font-size:1.8rem;clear:both;padding:60px 0}.footer-widgets-1,.footer-widgets-2{width:47.5%;float:left}.footer-widgets-1{margin-right:5%}@media only screen and (max-width:768px){.footer-widgets-1,.footer-widgets-2{width:100%}.footer-widgets-1{margin-right:0}}.site-footer{background-color:#fff;border-top:1px solid #eee;font-size:1.8rem;line-height:1;padding:60px 0;text-align:center}.site-footer p{margin-bottom:0}.sidebar .enews-widget{background-color:#333}.sidebar .enews-widget,.sidebar .enews-widget .widget-title{color:#fff}.sidebar .enews-widget input,.sidebar .enews-widget input:focus{border:1px solid #333}.sidebar .enews-widget input[type=submit]{background-color:#c37535;color:#fff}.sidebar .enews-widget input:focus[type=submit],.sidebar .enews-widget input:hover[type=submit]{background-color:#fff;color:#c37535}.enews-widget input{font-size:1.6rem;margin-bottom:16px}.enews-widget input[type=submit]{margin:0;width:100%}.enews form+p{margin-top:24px}#wpstats{display:none}.video-container{position:relative;width:100%;height:0;padding-bottom:56.25%;margin-top:-150px;z-index:0}@media screen and (max-width:1200px){.video-container{margin-top:-100px}}#video-overlay,.video{position:absolute;top:0;left:0;width:100%;height:100%}#video-overlay{z-index:2;background-size:cover;background-repeat:no-repeat;background-position:50% 50%}#core-section{width:100vw;position:relative;left:50%;right:50%;margin-left:-50vw;margin-right:-50vw;background-color:#fff;max-width:none;margin-top:-150px;z-index:2}@media screen and (max-width:1200px){#core-section{margin-top:-100px}}@media screen and (max-width:1023px){#core-section{margin-top:-50px}}.nf-form-fields-required{display:none}#nf-field-7{background-color:#c37535;border-radius:6px;padding:12px 45px;margin-top:7px}.nf-field-element input{margin-top:6px;width:auto;border-radius:5px;padding-top:10px;padding-bottom:10px;vertical-align:inherit}input#fld_8838611_1{background-color:#c37535;border:#c37535;width:150px;padding:7px;color:#fff;font-size:16px;font-weight:700}form#CF5b09becf0ccc7_1{margin-top:15px}.archive-description{background-color:#ccc;font-size:1.8rem;margin-bottom:40px;padding:60px}.archive-description p:last-child{margin-bottom:0}@media screen and (max-width:767px){.archive-description{padding:30px;margin-bottom:5%}}.archive-description .entry-title,.archive-title{font-size:20px}