/* ## Pagination
--------------------------------------------- */

.pagination {
  clear: both;
  margin: 40px 0;

  @media only screen and (max-width: 767px) {
    margin: 5% auto;
  }
}

.adjacent-entry-pagination {
  margin-bottom: 0;
}

.archive-pagination {
  li {
    display: inline;

    @media only screen and (max-width: 767px) {
      a {
        margin-bottom: 4px;
      }
    }
  }

  a {
    background-color: $archive-pagination--background-color;
    color: $archive-pagination--color;
    cursor: pointer;
    display: inline-block;
    @include rem( font-size,$archive-pagination--font-size);
    font-weight: 600;
    padding: 8px 12px;
    text-decoration: none;

    &:hover,
    &:focus,
    .active & {
      background-color: $archive-pagination--hover-background-color;
      color: $archive-pagination--hover-color;
    }
  }
}