//
// Widget Base Stylings
//========================

.widget {
  margin-bottom: 40px;
  word-wrap: break-word;

  ul > li {
    margin-bottom: 10px;
    padding-bottom: 10px;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  ol > li {
    list-style-position: inside;
    list-style-type: decimal;
    padding-left: 20px;
    text-indent: -20px;
  }

  li li {
    border: 0;
    margin: 0 0 0 30px;
    padding: 0;
  }
}

.widget p:last-child,
.widget ul > li:last-of-type,
.widget-area .widget:last-of-type {
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .sidebar .widget {
    padding: 30px;
    margin-bottom: 5%;
  }
}