input#fld_8838611_1 {
    background-color: #c37535;
    border: #c37535;
    width: 150px;
    padding: 7px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

form#CF5b09becf0ccc7_1 {
    margin-top: 15px;
}