.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-top: -150px;
  z-index: 0;
  @include media( $breakpoint__screen-size--large ) {
    margin-top: -100px;
  }
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Overlay video */
#video-overlay {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#core-section {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: white;
  max-width: none;
  margin-top: -150px;
  z-index: 2;
  @include media( $breakpoint__screen-size--large ) {
    margin-top: -100px;
  }
  @include media( $breakpoint__screen-size--medium ) {
    margin-top: -50px;
  }
}