.nf-form-fields-required {
  display: none;
}

#nf-field-7 {
  background-color: #C37535;
  border-radius: 6px;
  padding: 12px 45px;
  margin-top: 7px;
}

.nf-field-element input {
  margin-top: 6px;
  width: auto;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: inherit;
}