//
// Site Header Base Style
//==============================

.site-header {
  background-color: $site-header--background-color;
  position: relative;
  z-index: 2;

  > .wrap {
    padding: 20px 0;
  }

  @media only screen and (max-width: 1023px) {
    .wrap {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}



