//
// Main entry article
//==============================

.entry {
  background-color: $entry--background-color;
  margin-bottom: 40px;
  padding: 70px 80px;

  @media only screen and (max-width: 767px) {
    padding: 30px;
    margin-bottom: 5%;
  }
}