// /* # Footer Widgets
// ---------------------------------------------------------------------------------------------------- */

.footer-widgets {
  background-color: $footer-widgets--background-color;
  @include rem( font-size, $footer-widgets--font-size );
  clear: both;
  padding: 60px 0;
}

// .footer-widgets-1,
// .footer-widgets-2,
// .footer-widgets-3 {
//   width: $footer-widths--width;

//   @media only screen and (max-width: 1200px) {
//     width: $footer-widths--width-large-screen;
//   }

//   @media only screen and (max-width: 1023px) {
//     width: 100%;
//   }
// }

// .footer-widgets-1 {
//   margin-right: 70px;

//   @media only screen and (max-width: 1200px) {
//     margin-right: 30px;
//   }
// }

// .footer-widgets-1,
// .footer-widgets-2 {
//   float: left;

//   @media only screen and (max-width: 1023px) {
//     margin: 0 auto 40px;
//   }
// }

// .footer-widgets-3 {
//   float: right;
// }

/* 2-column Footer Widgets
--------------------------------------------- */

.footer-widgets-1,
.footer-widgets-2 {
	width: 47.5%; /* 570px / 1200px */
	float: left;
}

.footer-widgets-1 {
	margin-right: 5%; /* 60px / 1200px */
}

@media only screen and (max-width: 768px) {

	.footer-widgets-1,
	.footer-widgets-2 {
		width: 100%;
	}

	.footer-widgets-1 {
		margin-right: 0;
	}

}
