//
// Device Screen Sizes
//==========================

$screen-size--smallest: 320px;
$screen-size--smaller: 480px;
$screen-size--small: 767px;
$screen-size--medium: 1023px;
$screen-size--large: 1200px;
$screen-size--larger: 1340px;
$screen-size--huge: 1600px;
