// Common Fonts
$font-family--roboto: 'Roboto', sans-serif;

// Base Typography
$html--font-size: 62.5%;
$em-base: 10px;

$base--font-family: $font-family--roboto;
$base--font-size: 18px;
$base--font-size--small-screen: 16px;
$base__div--font-size: 1.8rem;
$base__div--font-size--small-screen: 1.6rem;
$base--line-height: 1.625;

// Headings
$headings--font-family: $font-family--roboto;
$headings--line-height: 1.2;
$h1--font-size:  36px;
$h2--font-size:  30px;
$h3--font-size:  24px;
$h4--font-size:  20px;
$h5--font-size:  18px;
$h6--font-size:  16px;
$section--title: 30px;

// Elements
$blockquote--font-size: 30px;
$input--font-size: 18px;
$button--font-size: 16px;

//
// Navigation
//===========
$nav--font-size: 18px;
$submenu--font-size: 16px;
$primary-nav--font-size: 16px;
$archive-pagination--font-size: 16px;

//
// Header
//==================
$site-title--font-size: 30px;
$site-description--font-size: 18px;


//
// Footer
//==================
$site-footer--font-size: 18px;
$footer-widgets--font-size: 18px;

//
// Entry Content
//===================
$entry-meta--font-size: 16px;
$entry-header__entry-meta--font-size: 16px;
$entry-footer__entry-meta--font-size: 16px;

$entry-title--font-size: 36px;

//
// Comments
//===================
$comments--font-size: 16px;

//
// Widgets
//===================
$widget-title--font-size: 18px;
$featured-content__entry-title--font-size: 20px;

//
// Plugins
//===================
$enews--font-size: 16px;

//
// General Components
//===================
$breadcrumbs--font-size: 16px;
$author-box--font-size: 18px;
$author-box__Title--font-size: 20px;
$after-entry--font-size: 18px;
$archive-description--font-size: 18px;
$archive-title--font-size: 20px;