.home {
  .site-inner {
    padding-top:0;
  }
  .fc-section {
    padding: 4.375rem 0px;
    max-width: 100%;
    .container {
      margin: 0 auto;
      max-width: 1280px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
    }
  }
  .hero-wrap {
    color: #ececec;
    position: relative;
    z-index: 999;
    position: absolute;
    bottom: 30%;
    left: 30%;
    right: 5%;
    text-align: right;
    .hero-title {
      h2 {
        font-size: 4rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-family: 'Exo', sans-serif;
      }
    }
    .hero-paragraph {
      font-size: 2rem;
      line-height: 1.5;
      //padding: 0 20px 0 0;
    }
    .hero-points {
      h3 {
        span {
          color: #C37535;
          font-style: italic;
          text-transform: uppercase;
          padding-right: 3px;
          font-family: 'Exo', sans-serif;
          font-weight: 600;
          font-size: 2.2rem;
        }
      }
    }
  }
  #cta-section {
    //height: 150px;
    background-color: #222;
    color: white;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: none;
    padding: 4.375rem 0 2.18rem;
    .cta-header {
      h4{
        font-size: 2.7rem;
        font-family: 'Exo', sans-serif;
        margin-bottom: 4px;
      }
    }
  }
  #audio-video-section {
    //height: 600px;
    .audio-section {
      .anchor-embeds {
        float: right;
        iframe {
          display: block;
          margin: 0 auto 24px;
        }
      }
      h3 {
        margin-bottom: 50px;
      }
    }
    .switch-section {
      @media only screen and (max-width: 767px) {
        text-align: center;
      }
    }
  }
  #courses-section {
    padding: 0;
    //height: 800px;
    .container {
      margin: 0;
      padding: 0;
    }
    .half-circle {
      display: table;
      width: 100%;
      height: 700px;
      border-top-right-radius: 400px;
      border-bottom-right-radius: 400px;
      background: rgb(0,0,0);
      background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(61,61,61,1) 37%, rgba(109,109,109,1) 100%);
      background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(61,61,61,1) 37%,rgba(109,109,109,1) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(61,61,61,1) 37%,rgba(109,109,109,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#6d6d6d',GradientType=0 );
      @media only screen and (max-width: 767px) {
        display: none;
      }
      h3 {
        display: table-cell;
        vertical-align: middle;
        color: white;
        text-align: center;
      }
    }
    .courses-testimonial-section {
      padding: 2rem 0 0;
      .courses {
        text-align: center;
        padding: 4.375rem 0px;
        h4 {
          width: 300px;
          margin: 0 auto;
        }
      }
      .testimonial {
        width: 100%;
        padding-top: 20px;
        position: relative;
        .testimonial-image {
          display: inline-block;
          float: left;
          text-align: center;
          position: absolute;
          left: -122px;
          @media only screen and (max-width: 767px) {
            position: relative;
            width: 30%;
            left: 0;
            transform: scale(0.7);
            margin-top: -50px;
          }
          img {
            border-radius: 50%;
            position: relative;
            z-index: 2;
          }
        }
        .testimonial-text {
          display: inline-block;
          float: left;
          left: 23px;
          position: absolute;
          @media only screen and (max-width: 767px) {
            position: relative;
            width: 70%;
          }
          .testimonial-header {
            h4 {
              font-size: 25px;
              font-style: italic;
              margin-left: 54px;
              @media only screen and (max-width: 767px) {
                margin-left: -30px;
              }
            }
          }
        }
        .testimonial-body {
          z-index: 1;
          background-color: white;
          padding: 0px 10px 0px 70px;
          max-width: 100%;
          font-size: 17px;
          line-height: 1.4;
          @media only screen and (max-width: 767px) {
            display: none;
          }
        }
      }
    }
  }

}




